<h1><%= "#{@employee.first_name} #{@employee.last_name}" %> </h1>

    <table>
  <thead>
    <tr>
      <th>Sale id</th>
      <th>first name</th>
      <th>last name</th>
      <th>email name</th>
      <th>Customer</th>
      <th>Email</th>
      <th>sale amount</th>
      <th>units sold</th>
      <th>invoice frequency</th>
      <th>Sale Date</th>
      <!-- More attributes here... -->
    </tr>
  </thead>

  <tbody class='table'>
    <% @employee.sales.order(:sale_amount).each do |sale| %>
      <tr>
        <td><%= sale.id %></td>
        <td><%= sale.employee.first_name %></td>
        <td><%= sale.employee.last_name %></td>
        <td><%= sale.employee.email %></td>
        <td><%= sale.customer.name %></td>
        <td><%= sale.customer.account_number %></td>
        <td><%= "$#{sale.sale_amount.round(2)}"  %></td>
        <td><%= sale.units_sold  %></td>
        <td><%= sale.invoice_frequency  %></td>
        <td><%= sale.sale_date  %></td>
        <!-- More attributes here... -->
      </tr>
    <% end %>
  </tbody>
</table>